:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer{
  width: 280px;
  background: #0B2559;
}

mat-drawer-container{
  height: 100%;
}

mat-drawer-content{
  background: #F3F6F9;
}
