<section class="section-container">
    <div id="title-and-image-user">
        <h1 class="title">Paramètres</h1>
    </div>

    <div id="info-user">
        <div id="div-image-user">
            <img src="assets/avatar.png" alt=""  id="image-user">
            <button mat-icon-button id="modify">
                <mat-icon class="edit">border_color</mat-icon>
            </button>
        </div>
        <div id="firstname" class="info-user">
            <h2 class="titre-info">PRENOM</h2>
            <p class="cadre-info info-inchangeable">Guilhem</p>
        </div>

        <div id="lastname" class="info-user">
            <h2 class="titre-info">NOM</h2>
            <p class="cadre-info info-inchangeable">GABRIELLI</p>
        </div>

        <div id="entrepise" class="info-user">
            <h2 class="titre-info">ENTREPRISE</h2>
            <p class="cadre-info info-inchangeable">GSP</p>
        </div>

        <div id="email" class="info-user">
            <h2 class="titre-info">EMAIL</h2>
            <input type="mail" class="cadre-info info-changeable" placeholder="gg@gsp.com">
        </div>

        <div id="new-password" class="info-user">
            <h2 class="titre-info">MOT DE PASSE</h2>
            <input type="password" class="cadre-info info-changeable" placeholder="************" >
        </div>

        <div id="confirm-new-password" class="info-user">
            <h2 class="titre-info">CONFIRMER MOT DE PASSE</h2>
            <input type="password" class="cadre-info info-changeable" placeholder="************" >
        </div>


        <div id="div-update">
            <button mat-button routerLink="/products" id="btn-update">
                <p id="text-update">Mettre à jour</p>
            </button>
        </div>
        
    </div>

    <div id="div-abonnement">
        <p id="title-abonnement">Abonnement : </p>
        <p id="type-abonnement"> Starter</p>
        <button mat-icon-button id="modify">
            <mat-icon class="edit">border_color</mat-icon>
        </button>
    </div>
</section>


