/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "~font-awesome/css/font-awesome.css";




*:not(mat-icon){
  font-family: 'Inter', sans-serif !important ;
  box-sizing: border-box;
}

html, body { height: 100%; }
body {
  margin: 0;

}

h1, h2, h3 {
  color: #223345;
}

.section-container{
  padding: 0 20px;
}

.title{
  margin-top: 50px !important;
  font-weight: 700 !important;
  font-size: 40px !important;
}

// Tableau

.table thead th {
  vertical-align: middle !important;
}

.table {
  width: 100%;
  margin-bottom: 0rem !important;
  color: #212529;
}

.table td {
  vertical-align: middle !important;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
